.mainContainer {
    max-width: 100rem;
    margin: 50px auto;
    padding: 0 48px;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.heading {
    font-size: 30px;
}

.desc {
    font-size: 13px;
}

.productsSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imageContainer {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageContainer>img {
    width: 250px;
    aspect-ratio: 2/3;
    object-fit: cover;
    transition: all .6s ease;
}

.imageContainer>img:hover {
    opacity: 0;
}

.discount {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px 10px;
    background-color: var(--button-background);
    color: white;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 1200px) {
    .mainContainer {
        padding: 0 24px;
    }
}
@media screen and (max-width: 768px) {
    .productsSection {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
}
