
.main_cart_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_cart_section .main_cart_parent {
    width: 100%;
    margin: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}
.main_cart_section .card_holder {
    width: 100%;
}
.main_cart_section .checkout_holder {
    width: 100%;
    border-left: 1px solid rgb(241, 241, 241);
}
.main_cart_section .card_holder_title {
    padding: 1rem;
    text-decoration: underline;
    text-decoration-color: rgb(232, 1, 39);
}
.main_cart_section .card_parent {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main_cart_section .card {
    width: 100%;
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.main_cart_section .card_image_container {
    width: 100%;
}
.main_cart_section .card_image {
    width: 100%;
    height: 13.3rem;
    object-fit: cover;
    border-radius: .5rem;
}
.main_cart_section .card_details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.main_cart_section .card_details_child {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main_cart_section .card_details_child .card_title {
    font-size: 1rem;
    font-weight: 600;
}
.main_cart_section .quantity_button_holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border: 1px solid rgb(232, 231, 231);
    background-color: white;
}
.main_cart_section .quantity_button_holder button {
    padding: .1rem .5rem;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}
.main_cart_section .quantity_button_holder button:active {
    border: 1px solid rgb(214, 212, 212);
}
.main_cart_section .card_details_child .pack_note {
    font-size: .7rem;
    font-weight: 500;
}
.main_cart_section .edit_button_parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.main_cart_section .edit_button_parent button {
    padding: .4rem .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    background-color: white;
    border: 1px solid rgb(222, 222, 222);
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.main_cart_section .edit_button_parent button:active {
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(180, 180, 180);
}
.main_cart_section .edit_button_parent button span{
    font-size: .9rem;
    font-weight: 500;
}
.main_cart_section .edit_button_parent button .add_to_wishlist_icon {
    font-size: 1rem;
}
.main_cart_section .edit_button_parent button .remove_from_cart {
    font-size: 1rem;
}
.main_cart_section .card_details_child .price_parent h3 {
    font-weight: 400;
}

.main_cart_section .checkout_card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main_cart_section .checkout_card .checkout_title {
    font-size: 1.5rem;
    font-weight: 400;
}
.main_cart_section .checkout_details {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.main_cart_section .checkout_details .checkout_details_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.p_total {
    font-size: 18px;
    font-weight: 600;
}
.main_cart_section .checkout_details .row4  .checkout_button{
    margin-top: 20px;
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    font-weight: 600;
    border-width: 0;
    background-color: rgb(226, 141, 71);
    color: white;
    cursor: pointer;
}
.main_cart_section .checkout_details .row4  .checkout_button:active {
    background-color: rgb(196, 122, 61);
}
.main_cart_section .discount_code_cart {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
.main_cart_section .discount_code_cart input {
    width: 50%;
    font-size: 1rem;
    padding: .7rem 1rem;
    border: 1px solid rgb(211, 211, 211);
    outline-color: rgb(221, 221, 221);
}

@media screen and (max-width: 1200px) {
    .main_cart_section .main_cart_parent {
        margin: 1rem 0;
        grid-template-columns: 1fr;
    }
    .main_cart_section .checkout_holder {
        border: none;
    }
}
@media screen and (max-width: 780px) {
    .main_cart_section .card_holder_title {
        padding: 0 1rem;
        font-size: .9rem;
        font-weight: 500;
    }
    .main_cart_section .card {
        padding: 1rem;
        gap: .3rem;
        grid-template-columns: 1fr 3fr;
    }
    .main_cart_section .card_image {
        height: 9rem;
    }
    .main_cart_section .card_details_child {
        padding: .2rem 1rem;
    }
    .main_cart_section .card_details_child .card_title {
        font-weight: 500;
        font-size: 90%;
    }
    .main_cart_section .card_details_child .pack_note {
        font-size: .7rem;
    }
    .main_cart_section .card_details_child .price_parent {
        font-size: .8rem;
    }
    .main_cart_section .card_details_child p {
        font-weight: 300;
        font-size: 80%;
    }
    .main_cart_section .checkout_card .checkout_title {
        font-size: 1rem;
        font-weight: 500;
    }
    .main_cart_section .checkout_details_row p {
        font-size: .8rem;
    }
    .main_cart_section .discount_code_cart p {
        font-size: .9rem;
    }
    .main_cart_section .quantity_button_holder button {
        padding: .1rem .3rem;
        font-size: 1rem;
    }
    .main_cart_section .quantity_button_holder .span_quantiry {
        font-size: .8rem;
    }
    .main_cart_section .edit_button_parent {
        gap: 1rem;
    }
    .main_cart_section .edit_button_parent button {
        padding: .3rem;
        border-radius: 50%;
    }
    .main_cart_section .card_details_child .edit_button_parent .move_to_wishlist_button_text {
        display: none;
    }
    
}
@media screen and (max-width: 500px) {
    .checkout_details_row {
        position: fixed;
        bottom: 0;
        background-color: white;
        padding: 0px 10px 20px;
    }
    .checkout_button {
        margin-top: 0;
    }
}
@media screen and (max-width: 425px) {
    .main_cart_section .card {
        grid-template-columns: 1fr 2fr;
    }
    .main_cart_section .card_image {
        height: 9rem;
    }
    .main_cart_section .card_details_child {
        padding: .2rem .3rem;
    }
}